eval "$(skogcli config export-env --namespace skogai,uv,claude,ansible)"
export BECOME_PASSWORD_FILE=/home/skogix/.ssh/ansible-become-password
export VAULT_PASSWORD_FILE=/home/skogix/.ssh/ansible-vault-password
