# handle regular package management
- name: Update pacman package database
  become: true
  community.general.pacman:
    update_cache: true

- name: Upgrade all packages
  become: true
  community.general.pacman:
    upgrade: true

- name: Install packages from list
  become: true
  community.general.pacman:
    name: "{{ packages }}"
    state: present

