[Unit]
Description=Dolt SQL Server
After=network.target

[Service]
Type=simple
ExecStart=%h/.config/systemd/skogai-dolt-start.sh
Restart=always
RestartSec=5
WorkingDirectory=%h/.config/dolt/dbs

[Install]
WantedBy=default.target
